body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-size: 1rem;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#landing-page, #leaderboard-container {
    text-align: center;
}

#score-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

canvas {
    display: block;
    margin: auto;
}
